* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 32px;
    background-image: url('./img/5_background/body_background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

canvas {
    display: block;
}

h1 {
    font-size: 64px;
    letter-spacing: 5px;
    -webkit-text-stroke: 0.01px #7e431b;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    color: #E98C42;
    margin-bottom: 32px;
}

.mainContent {
    position: relative;
}

.screenBorder {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}


.iconBar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding-top: 20px;

    img {
        height: 24px;
    }

    img:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.btnBar {
    width: 100%;
    position: absolute;
    top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;

    div,
    span {
        font-size: 42px;
        color: #FFCC00;
        letter-spacing: 2px;
    }

    span {
        filter: drop-shadow(5px 5px 5px #222);
    }

    div:hover,
    span:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.infoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.gameInfos {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    background: rgba(241, 176, 111, 0.69);
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    letter-spacing: 1.5px;
    margin: 0 50px;
    padding: 25px 25px;
    gap: 20px;
}

h2 {
    font-size: 42px;
    letter-spacing: 2px;
    font-weight: 500;
    text-decoration: underline;
}

.gameAdvises {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.d-none {
    display: none;
}

.controllBar {
    display: flex;
    justify-content: center;
    width: 720px;
    gap: 50px;
    padding-top: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 32px;
    font-family: 'zebras';
    font-size: 14px;
    gap: 20px;
    

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    a:hover {
        color: black;
    }
}

.mobileHud {
    width: 100%;
    padding: 0 10px 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hudPosition {
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        gap: 10px;
    }
}

.mobileBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 223, 2, 0.0);
    border: unset;
    height: 36px;

    img {
        height: 36px;
    }
}

#deviceNotice {
    background-image: url(./img/5_background/body_background.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    display: none;

    img {
        height: 120px;
    }

    span {
        font-size: 34px;
    }
}



/********************** Start Responsive *******************/

@media only screen and (max-width:720px) {

    .mainContent,
    .screenBorder,
    canvas {
        width: 100%;
    }

    h1,
    .controllBar,
    footer {
        display: none;
    }
}

@media only screen and (min-width:1024px) and (max-height:750px) {

    footer {
        display: none;
    }
}

@media only screen and (max-height:480px) {

    body,
    .mainContent,
    .screenBorder,
    canvas {
        height: 100vh;
        padding: 0;
    }

    h1,
    #fullscreen,
    .controllBar,
    footer {
        display: none;
    }

    #startScreen,
    #winScreen,
    #loseScreen {
        height: 100%;
    }

}

@media only screen and (max-height:400px) {
    .gameInfos {
        font-size: 20px;
    }
}

@media (orientation: portrait) and (max-width: 600px) {

    #deviceNotice {
        display: flex;
    }
}